@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Poppins:wght@400;500;600;700;800&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-playfair: "Playfair Display", serif;
}

:root {
  color: #29313a;
  background: #f2f9f2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  min-height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;

  background: #f2f9f2;
  color: #29313a;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

#root {
  min-height: 100vh;
}